.basic_info {
    display: flex;
    align-items: center;
}

.basic_info label {
    width: 80px;
    margin-right: 16px;
}
.formRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitButton {
    margin-top: 24px;
}
.basic_info .ant-form-item {
    flex: 1;
    margin-right: 16px;
}

.basic_info .ant-form-item:last-child {
    margin-right: 0;
}